[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]

[build.processing]
  skip_processing = false

[build.processing.html]
  pretty_urls = true

# Enable form detection
[build.processing.forms]
  enable = true
